body{
	background-color: #c1c1c1;
	font: Arial;
	color: black;
}

button{
	border:none;
	padding: 6px;
	border-radius: 3px;
	background-color: #595959;
	color: white;
	cursor: pointer;
}

button:hover{
	border-bottom: 1px white dotted;
	background-color: #303030;
}

.outer-div {
  padding: 10px;
  text-align: center;
}

.inner-div {
  display: inline-block;
  padding: 0px;
}

#results{
	width: 400px;
	height: 100px;
	background-color: #9b9b9b;
	margin-top: 20px;
	padding: 15px;
	color: white;
}